<div class="login"><br>
  <div class="container">
    <div class="form">
      <h3><strong>Please Log In</strong></h3>
      <%= form_tag '/creates' do %>
      <%= label_tag 'email'%><br>
      <%= text_field_tag :email, params[:email] %><br>
      <%= label_tag 'Password'%><br>
      <%= password_field_tag :password %></p> 
      <%= submit_tag "Log In" %>        
      <% end %><br>
      <%= link_to 'Back to Home',root_page_path,class:"btn btn-outline-dark"%>
      <%= link_to "Sign in with Google", librarian_google_oauth2_omniauth_authorize_path %>

    </div>
  </div>
</div>

