<%if current_user %>
  <%= render partial: "modal_popup" %>
  <h1 class="text-center text-success"><strong>Welcome to the library</strong></h1>
    <%if check_user%>
      <h1  class="text-primary">Student Details</h1>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Usertype</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= current_user.name %></td>
            <td><%= current_user.email %></td>
            <td><%= current_user.usertype %></td>
          </tr>
        </tbody>
      </table>

    <li> <%= link_to 'Available Books',studentindex_path, class:"btn btn-outline-success"%></li><br>
    <li> <%= link_to 'Borrowed Books',borrowbook_path , class:"btn btn-outline-success"%></li><br>
    <li> <%= link_to 'Requested Books',requestedbook_path, class:"btn btn-outline-success"%></li><br>

    <% else %>
    <h1 class="text-primary">Librarian Details</h1>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Usertype</th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td> <%= current_user.name %> </td>
        <td> <%= current_user.email %> </td>
        <td> <%= current_user.usertype %> </td>
      </tr>
    </tbody>
    </table>
      <li> <%= link_to 'View Requested Book', borrowshow_path, class:"btn btn-outline-success" %></li><br>
      <li> <%= link_to 'All Books', books_path, class:"btn btn-outline-success"%></li><br>
      <li> <%= link_to 'not return by Student', history_path, class:"btn btn-outline-success" %></li><br>
      <li> <%= link_to "View Return Book ", returnb_path,class:"btn btn-outline-success",data:{'toggle' => "modal", 'target' =>"#myModal",remote:true}%></li><br>
      <li> <%= link_to "Add new book", new_book_path,class:"btn btn-outline-success",data:{'toggle' => "modal", 'target' =>"#myModal", remote:true}%></li><br>
      <li><%= link_to "Create New librarian", newlibrarian_path, class: "btn btn-outline-success" %></li><br>
      <li><%= link_to "Overdue Date Book", overdue_date_book_path, class: "btn btn-outline-success" %></li>
      <li><%= link_to "return book", return_book_path, class: "btn btn-outline-success" %></li>

    <% end %>
<% end %>


