<h1  class="text-success"><strong>Details Of Book</strong></h1>
<table class="table table-bordered">
 <thead class="thead-dark">
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Description</th>
    <th>Author name</th>
  </tr>
  </thead>
<tbody>
<tr>
   <td>
    <%= @book.title %>
    </td>
    <td>
    <%= @book.price %>
    </td>
     <td>
    <%= @book.description %>
    </td>
     <td>
    <%= @book.author_name %>
    </td>
</tbody>
</table>
<%if check_user%>
<button type="button" class="btn btn-dark"> <%= link_to 'Back to Home',studentindex_path%></button>
<%else%>
<button type="button" class="btn btn-dark"> <%= link_to 'Back to Home',books_path%></button>
<%end%>



