<h1  class="text-success"><strong>Details Of Book</strong></h1>
<table class="table table-bordered">
 <thead class="thead-dark">
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Description</th>
    <th>Author name</th>
  </tr>
  </thead>
<tbody>
<tr>
   <td>
    <%= @books.title %>
    </td>
    <td>
    <%= @books.price %>
    </td>
     <td>
    <%= @books.description %>
    </td>
     <td>
    <%= @books.author_name %>
    </td>
</tbody>
</table>
<%if check_user%>
<%= link_to 'Back to Home',studentindex_path,class:"btn btn-dark"%>
<%else%>
 <%= link_to 'Back to Home',books_path,class:"btn btn-dark"%>
<%end%>



