<div class="float-end" >
  <br><%= form_tag student_history_path, :method => "get" do %>
  <%= label_tag(:search, "Search:") %>
  <%= text_field_tag :search , params[:search] %>
  <%= submit_tag("Search") %>
  <% end %>
</div><br>

<h1 class="text-primary">List of Student</h1>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Student Id</th>
      <th>book Id</th>
      <th>Student name</th>
      <th>Issued Date</th>
      <th>Return Date</th>
    </tr>
  </thead>
  <tbody>
    <% @student_history.each do |view| %>
    <tr>
      <td><%= view.librarian_id %></td>
      <td><%= view.book_id%></td>
      <td><%= view.student%></td>
      <td><%= view.created_at.to_date%></td>
      <td><%= view.returndate%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back',root_page_path,class:"btn btn-outline-dark"%>
