 <%if current_librarian%>

<div class="pull-right">
<form action="<%= allstudent_path %>">
  <input type="text" placeholder="    Search here" name="search_key">
  <button type="submit">Search</button>
</form>
</div>

 <h1 class="text-primary">List of Student</h1>
<table class="table table-bordered">
 <thead class="thead-dark">
   <tr>
   	 <th>Student Id</th>
     <th>book Id</th>
     <th>Student name</th>
     <th>Issued Date</th>
     <th>Return Date</th>
        </tr>
 </thead>
 <tbody>
 	  <% @allstudent.each do |view| %>
  <tr>
 	   <td><%= view.librarian_id %></td>
     <td><%= view.book_id%></td>
     <td><%= view.student%></td>
     <td><%= view.created_at.to_date%></td>
     <td><%= view.returndate%></td>
       <% end %>
  </tr>
 </tbody>
</table>
<%= link_to 'Back',libraryindex_path,class:"btn btn-outline-dark"%>
<%end%>