<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "librarians/shared/error_messages", resource: resource %>
   
  <div><h3><%= f.select :usertype, ['student', 'librarian']%></h3><br>
</div>
 

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

