<h1 class="text-success">All Users</h1>
<table class="table table-bordered">
  <thead  class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>User Type</th>
      <th>Remove User</th>
    </tr>
  </thead>
  <tbody  >
    <% @librarian.each do |l| %> 
    <tr>
      <td><%= link_to l.name%></td>
      <td><%= link_to l.email %></td>
      <td><%= link_to l.usertype%></td>
      <td><%= link_to "Remove", destroy_user_path(l),method: :delete, remote: true ,class:"btn btn-outline-danger"%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back to Home',root_page_path, class: "btn btn-outline-dark" %>


