<h1 class="text-center text-success"><strong>Welcome to the library</strong></h1>
  <%if check_user%>


<%= link_to 'Show Book',studentindex_path, class:"btn btn-outline-dark"%>
<%= link_to 'Borrow Books',borrowbook_path , class:"btn btn-outline-dark"%>
<%= link_to 'Requested Books',requestedbook_path, class:"btn btn-outline-dark"%>



<% else %>

 <%= link_to 'View Request Book', borrowshow_path, class:"btn btn-outline-dark" %>
 <%= link_to 'View Books', books_path, class:"btn btn-outline-dark"%>
 <%= link_to 'Add new Book', new_book_path, class:"btn btn-outline-dark" %>
<%= link_to 'View issued Books', allstudent_path, class:"btn btn-outline-dark" %>
<%= link_to 'View Return Book', returnb_path, class:"btn btn-outline-dark"%>

<% end %>




