<div class="login">
  <div class="container">
    <div class="form">
      <h2><strong>Please fill Details</strong></h2>
      <%= form_for(@librarian) do |f| %>
      <%= label_tag 'Name'%><br>         
      <%= f.text_field :name, :placeholder => "name" %><br>
      <%= label_tag 'Email'%><br>
      <%= f.email_field :email, :placeholder => "Email" %><br>
      <%= label_tag 'Password'%><br>
      <%= f.password_field :password, :placeholder => "Password" %><br>
      <%= f.select :usertype, ['Student']%>
      <%= label_tag 'User_Type'%><br>
      <%= f.submit "Submit", class: "btn-submit" %>
      <% end %>

      <%= link_to 'Back to Home',librarianhome_path,class:"btn btn-outline-dark"%>

    </div>
  </div>
</div>