
<div class="signup">
  <div class="container">
    <div class="form">
      <h2><strong>Please fill Details</strong></h2>
      <%= form_for(@newlibrarian) do |fr| %>
      <%= label_tag 'Name'%><br>         
      <%= fr.text_field :name, :placeholder => "name" %><br>
      <%= label_tag 'Email'%><br>
      <%= fr.email_field :email, :placeholder => "Email" %><br>
      <%= label_tag 'Password'%><br>
      <%= fr.password_field :password, :placeholder => "Password" %><br>
      <%= fr.hidden_field :usertype, value: 'librarian' %>
      <%= fr.submit "Submit", class: "btn-submit" %>
      <% end %><br>

      <%= link_to 'Back to Home',home_path,class:"btn btn-outline-dark"%>

    </div>
  </div>
</div>
